<!DOCTYPE html>
<html lang="eng">
<head>
    <title>Dr. Ghassemi's personal page</title>
    <link rel="stylesheet" href="static/main/css/content.css">
</head>

<body>
<article>
    <!-- The header  -->
    <header>
        <img src="static/main/images/banner.jpg" alt="Arizona">
    </header>

    <!-- The navigation bar -->
    <nav>
        <input type="checkbox" id="nav-check">
        <div class="logo">
            <p>CSE 477 - Homework 1</p>
        </div>
        <div class="menu">
            <label for="nav-check"><img src="static/main/images/menu-bar.png"></label>
        </div>

        <div class="links">
            <a href="home.html">Home</a>
            <a href="projects.html">Projects</a>
            <a href="static/main/documents/ghassemi_cv.pdf">Resume</a>
            <a href="https://www.linkedin.com/in/mohammad-ghassemi-401a843"><img src="static/main/images/social-linkedin.png"><span class="imgtext">LinkedIn</span></a>
        </div>
    </nav>

    <!-- The main content  -->
    <main>

    <p class="medium-txt x-center ">Below is a list of projects I worked on in CSE 477: </p>
    <p class="x-center small-txt"> Click an image, or hyperlink in the description to learn more.</p>

    <div class="space"><hr></div>


      <div class="space"></div>

      <!-- A block of content -->
      <div class="row">        
        <div class="half-column x-center y-center">
          <a href="piano.html"><img src="static/main/images/piano.jpeg" > </a>
        </div>

        <div class="half-column">
          <p class="small-txt x-center" style="text-align: justify;">
            <span class="medium-txt">Javascript Piano </span><br>
            As part of my first Homework assignment in CSE477, I developed an interactive piano build in pure HTML, CSS and Javascript. This tool (in addition to my webpage) highlight my ability to build beautiful and mobile-friendsly front-end applications. <a href="piano.html">Click here to see, and play! </a> 
          </p>
        </div>
      </div>
      <div class="space"><hr></div>

      <!-- A block of content -->
      <p class="medium-txt x-center ">More coming soon! </p>
      <div class="space"></div>


   </main>

      <!-- The footer of the file -->
      <footer class="x-center y-center">
        <p>© 2022 Mohammad M. Ghassemi</p>
    </footer>
  
  </article>
  <script src="static/main/js/main.js"></script>
</body>

</html>




